.text-primary{
    color: darkorange;
}

.primary-btn{
    border-radius: 5px;
    background-color: darkorange;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}


body{
    font-family: 'Open Sans', sans-serif;
}
nav{

display: flex;
align-items: center;
justify-content: space-between;
margin: 0 200px;
}
.web-title{

    color: black;
    font-size: 35px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}
nav li {

    list-style: none;
    margin-right: 50px;

}
nav a {

    text-decoration: none;
    color: darkgray;
}
.header{
    background-color: white ;
    background-image: url('./img/header_bg.png');
    background-repeat: no-repeat;
    background-position:bottom right;
}

.bannar{
padding: 0px 200px 0px 150px;
display: flex;
align-items: center;
justify-content: space-between;

}

.bannar-content{
max-width: 700px;

}
.bannar .profile-pic{

    width: 500px;
}

.bannar-greating{
color: darkorange;
font-size: 25px;
margin-bottom: 0;

}
.bannar-title{

    font-size: 45px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;

}
.bannar-discription{


}


.Contect-btn{

    border-radius: 5px;
    background-color: white;
    border: 1;
    border-color: rgb(91, 91, 91);
    color: black;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}






.about{

    padding: 130px;
    border-radius: 10px;
    background: wheat;
    margin: 100px 0;
}

.section-title{
    color: black;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-discription{
    color: black;
    text-align: center;
    font-size: 18px;

}

main{

    max-width: 1140px;
    margin: 0 auto;

}
main section{

    margin-top: 130px;

}

.about-info-box{

    display: flex;
    justify-content: space-around;

}
.about-info{

    text-align: center;

}
.info-title{

    

}

#what-i-do-description{

padding: 30px 150px ;

}

.skills-container{

    display: flex;
    gap: 20px;
    justify-content: space-around;

    
}

.skills{

    padding: 30px;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 6px 50px 0px rgba(0,0, 0, 06);

}
.skill-description{



}

.resume-colum-title{

color: black;
font-size: 25px;
font-weight: 700;

}

.resume-container{

display: flex;
background-color: wheat;
border-radius: 10px;
gap: 50px;
justify-content: space-around;



}

.download-cv{
    text-align: center;
    margin-top: 50px;


}


footer{

    display: flex;
    background-color: white;
    margin-top: 30px;
    justify-content: space-around;

}

.footer-colum{
    width: 50%;
}

.contact input[type="text"] , input[type="email"], textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    border-radius: 5px;
    border: 1;
    border-color: black;
    width: 100%;
}

.social-link a{
margin-right: 25px;

}